@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Nunito', sans-serif;
}
.paginate{
    display: flex;
    justify-content: end;
    align-items: center;
}
.paginate li{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(159, 159,159);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}